{% load static %}
<footer class="footer">
        <div class="social">
            <a href="https://facebook.com" target="__blank"><svg height="24px" width="24px"><use xlink:href="{% static 'assets/svg/sprite.svg' %}#facebook"></svg>  facebook</a>
            <a href="https://wa.link/ysr3jb" target="__blank"><svg height="24px" width="24px"><use xlink:href="{% static 'assets/svg/sprite.svg' %}#whatsapp"></svg>  whatshap</a>
            <a href="https://t.me/joinchat/S7N8pDT5J0rSVFgo" target="__blank"> <svg height="24px" width="24px"><use xlink:href="{% static 'assets/svg/sprite.svg' %}#telegram"></svg> telegram</a>
        </div>
	<p class="copyyright">pythonfornull by dev12fare &copy; copyright all reserved 2020</p>	
</footer>