*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    max-width: 80%;
    /* height: 100vh; */
    background-color: #C4D7DF;
    display:flex;
    justify-content: center;
    margin: 30px auto;
    
}
.radio{
    display: inline !important;
}
.radio-label{
    display: inline !important;
}
.wrapper{
flex: 2;
 background-color:#1C6E8C; 
 padding: 20px;
 /* margin-left: 100px; */
 
}
.question-wrapper{
    /* border: 1px solid black; */
    background-color: #fcfafc;
    margin-top: 10px;
    border-radius: 5px;
    padding: 0 5px 5px;
    
}
.question-wrapper:last-child{
    margin-bottom: 10px;
    
}
.question{
    font-weight: bold;
    font-size: 20px;
    color: royalblue;
    
}
aside{
   flex: 1;
   height: auto;
   background-color: #8CB4C3;
   margin-left: 10px;

}
aside ul{
    list-style: none;
   
}
aside li{
    margin-top: 10px;
   
}
/*a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}*/
input[type="checkbox"]{
    margin-right: 10px;
}
a{
    text-decoration:none;
}
button, .btn{
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: #292F36;
    color: white;
    margin-top: 30px;
    font-weight: 900;
    height: 30px;
    
}
button:hover, .btn:hover{
    background-color: transparent;
    border: 1px solid #292F36 ;
    color: #292F36;
}

.time {
    /* border:1px solid #292F36; */
    position: fixed;
    top: 0;
    left: 20px;
    padding: 10px 20px;
    box-shadow: 0px 5px 15px rgba(0 , 0, 0, 0.2);
    color:royalblue;
    margin-right: 10px;

}
.modal-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    border: 1px solid black;
    background-color: rgba(0 , 0, 0, 0.4);
    width: 100%;
    height: 100Vh;
    display: flex;
    justify-content: center;
}

.modal{
    background-color: white;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0 , 0, 0, 0.2);
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
    width: 50%;
    position: absolute;
    margin-top: 40px;
    transition: all 0.5s;
    animation: animatetop forwards;
    animation-duration: 0.9s;
    /* background:  */
}
.reverse{
    transform: translateY(-500px);

}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
.modal-title{
    margin-bottom: 0 !important;
    margin-left: 10px !important;
    color: #FCFAFA;
    text-transform: capitalize;
}
.modal-header{
    display: flex;
    background-color:#1C6E8C;
    /* padding: 0; */
    text-align: center;
    position: relative;
}

.modal-footer{
    display: flex;
    background-color: #1C6E8C;
    justify-content: center;
    height: 20px;
    /* padding: 0; */
    text-align: center;
    position: relative;
}
.modal-header span{
    font-size: 40px;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.4s;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;

}
.modal-header span:hover{
    opacity: 1;
}
.modal-header h2{
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 20px 0;
}
.modal-body{
    font-size: 1.1rem;
    text-align: justify;
    padding: 10px;
}

@media screen and (max-width: 630px){
    .container{
        display: block;
    }
}