{% extends "posting/__base__.html" %}
{% load static %}

{%block title%} bienvenue sur python pour les null {% endblock title %}

{% block content%}
<div class="wrapper bgded overlay" style="background-image:url({% static 'posting/images/demo/backgrounds/python.jpg' %});">
<div id="pageintro" class="hoc clear"> 
  <!-- ################################################################################################ -->
  <article>
    <p>bienvenue</p>
    <h3 class="heading">Cours pour devenir expert en python</h3>
    <footer>
      <ul class="nospace inline pushright">
        {% if user.is_authenticated %}
        <li><a class="btn" href="#">Lire le cours</a></li>
        {% else %}
          <li><a class="btn" href="#">Debuter le Cours</a></li>
          <li><a class="btn inverse" href="#">Creer un compte</a></li>
        {% endif %}
      </ul>
    </footer>
  </article>
  <!-- ################################################################################################ -->
</div>
</div>
<div class="wrapper row3">
<main class="hoc container clear"> 
  <!-- main body -->
  <!-- ################################################################################################ -->
  <section id="introblocks">
    <div class="sectiontitle">
      <h6 class="heading">Les Niveaux des Cours</h6>
      <p>Les python est l'un des language de programmation les plus populaire</p>
    </div>
    <ul class="nospace btmspace-80 group">
      {% for level in levels %}
      <li class="one_third">
       
        <article><i class="fa fa-diamond"></i>
          <h6 class="heading font-x1"><a href="{% url 'niveaudetail' level.level|slugify %}">{{level.level}}</a></h6>
          <p>{{level.description}}&hellip;</p>
        </article>
      </li>
      {%endfor%}
      
    </ul>
    <form action="" method="POST">{% csrf_token %}
      {{form.media}}
    {{form}}
    <button type="submit">post</button>
</form>
    <p class="center"><a class="btn" href="#">allez sur le doc de python</a></p>
  </section>
  <!-- ################################################################################################ -->
  <hr class="btmspace-80">
  <!-- ################################################################################################ -->
  <section>
    <div class="sectiontitle">
      <h6 class="heading">recents coures postés</h6>
      <p>listes des coures les plus recents du site</p>
    </div>
    <ul class="nospace group overview">
      {% for post_course in courses %}
      <li class="one_third">
        <figure><a href="#"><img src="{% static 'posting/images/demo/320x240.png' %}" alt=""></a>
          <figcaption>
            <h6 class="heading"><a href="{% url 'coursedetail' post_course.slug %}">{{post_course.title}}</a></h6>
            <p>{{post_course.body}}</p>
          </figcaption>
        </figure>
      </li>

      {% endfor %}
    </ul>
  </section>
  <!-- ################################################################################################ -->
  <!-- / main body -->
  <div class="clear"></div>
</div>
{% endblock %}