{%extends "posting/__base__.html" %}{% load static %}{% block meta %}python pour les nulls tutoriels {{object.title}} - {{object.level}}{% endblock %}{% block title %}python pour les nulls tutoriels {{object.title}} - {{object.level}}{% endblock %}
{% block share_meta %}
<meta property="og:site_name" content="Python pour les nulls">
<meta property="og:title" content="{{object.title}}" />
<meta property="og:description" content="{{object.intro|safe|truncatewords:25}}" />
<meta property="og:image" itemprop="image" content="{{object.img_link}}">
<meta property="og:type" content="website" />
<meta property="og:updated_time" content="1440432930" />
<meta property="og:url" content="https://pythonfornulls.herokuapp.com{% url 'coursedetail'object.slug %}" />
{% endblock share_meta %}
{%block content%}

<div class="wrapper bgded overlay" style="background-image:url(https://res.cloudinary.com/uxyuslshjd/image/upload/v1609762411/pythonic/Untitled_Design_jxwlhv.jpg);">
    <div id="breadcrumb" class="hoc clear"> 
     <!-- <H1><strong>{{object.title}}</strong></H1> -->
    </div>
  </div>
<div class="wrapper row3">
    <main class="hoc container clear"> 
      <div class="content three_quarter first"> 
        <h1>{{object.title}}</h1>
        <p>posté le: {{object.date}} par {{object.author}} | niveau <a href="{% url 'niveaudetail' object.level|slugify %}">{{object.level}}</a>

          {% if user.is_staff %}
          | <a href="{% url 'update' object.slug %}">édit</a> 
          {% endif%}
        </p>
        {{object.body|safe}}
        <!-- ShareThis BEGIN --><div class="sharethis-inline-share-buttons"></div><!-- ShareThis END -->
        <div id="comments">
          {% if len > 1%}
          <h2>{{len}} commentaires</h2>
          {% else%}
          <h2>{{len}} commentaire</h2>
          {% endif%}
          <ul>
            {% for comment in commentaire %}
            <li>
              <article>
                <header>
                  <figure class="avatar"><img src="https://res.cloudinary.com/uxyuslshjd/image/upload/v1609762606/pythonic/avatar_gy3cdk.png" alt=""></figure>
                  <address>
                  par <a href="#">{{comment.author}}</a>
                  </address>
                  <time datetime="2045-04-06T08:15+00:00">{{comment.at}}</time>
                </header>
                <div class="comcont">
                  <p>{{comment.comments}}</p>
                </div>
              </article>
            </li>
            {% endfor %}
          </ul>
          {% if  commentaire %}
            <nav class="pagination">
            <ul>
              {% if commentaire.has_previous %}
                      <li><a href="?page=1">&laquo; Première</a></li>
                     <li> <a href="?page={{ commentaire.previous_page_number }}">Précédant</a></li>
                {% endif %}
              <li class="current"> Page {{ commentaire.number }} of {{ commentaire.paginator.num_pages }}</li>
              {% if commentaire.has_next %}
              <li><a href="?page={{ commentaire.next_page_number }}">Suivant</a></li>
              <li><a href="?page={{ commentaire.paginator.num_pages }}">Dernier &raquo;</a></li>
            {% endif %}
            </ul>
          </nav>
        {% endif %}
          <form action="#" method="post">{% csrf_token %}
            <div class="block clear">
              {{commentsForms}}
            </div>
            <div>
              <input type="submit" name="submit" value="Commenter">
            </div>
          </form>
        </div>
      </div>
      <div class="sidebar one_quarter"> 
        <!-- ################################################################################################ -->
        {% if all %}
        <h6>Cours niveau -{{object.level}}</h6>
        <nav class="sdb_holder">
          <ul>
            {% for course in all%}
            <li 
            {% if object.slug == course.slug %}
            
            style="color:rgb(214, 60, 60);font-weight: 900;"
            {% endif %}
            ><a href="{% url 'coursedetail' course.slug %}">{{course.title}}</a></li>
            {% endfor %}
            
          </ul>
        </nav>
        {% endif %}
      </div>
      <div class="clear"></div>
    </main>
  </div>
{%endblock content%}