{% extends "posting/__base__.html" %}{% load static %}{%block title%} Bienvenue sur python pour les nulles {% endblock title %}{% block content%}
{% block css%}<link rel="stylesheet" type="text/css" href="{% static 'posting/layout/styles/elements.css'  %}">{% endblock css%}
<div class="wrapper bgded overlay" style="background-image:url(https://res.cloudinary.com/uxyuslshjd/image/upload/v1609763469/pythonic/Untitled_Design_1_gsdpte.jpg);">
<div id="pageintro" class="c hoc clear"> 
  <article>
    <p>bienvenue</p>
    <h3 class="heading">Cours pour devenir expert en python</h3>
    <footer>
      <ul class="nospace inline pushright">
        {% if user.is_authenticated %}
        <li><a class="btn" href="#course_list">Lire le cours</a></li>
        {% else %}
          <li><a class="btn" href="#course_list">Débuter le Cours</a></li>
          <li><a class="btn inverse" href="{% url 'register' %}">Créer un compte</a></li>
        {% endif %}
      </ul>
    </footer>
  </article>
</div>
</div>
<div class="wrapper row3">
<main class="hoc container clear"> 
  <!-- main body -->
  <section id="introblocks">
    <div class="sectiontitle">
      <h6 class="heading">Les Niveaux des Cours</h6>
      <p>Le language python est l'un des language de programmation les plus populaire et des plus simple à apprendre pour débuter la programmation informatique.</p>
    </div>
    <ul class="nospace btmspace-80 group">
      {% for level in levels %}
      <li class="one_third">
        <article><i class="fa fa-diamond"></i>
          <h6 class="heading font-x1"><a href="{% url 'niveaudetail' level.level|slugify %}">{{level.level}}</a></h6>
          <p>{{level.description|truncatewords:50}}&hellip;</p>
        </article>
      </li>
      {%endfor%}
    </ul>
    <p class="center"><a class="btn" href="https://docs.python.org/fr/3/" target="__blank">Allez sur la doc de python.</a></p>
  </section>
  <hr class="btmspace-80">
  <section id="course_list">
    <div class="sectiontitle">
      <h6 class="heading">Récents cours postés.</h6>
      <p>La Liste Des cours les plus récents.</p>
    </div>
    <ul class="nospace group overview infinite">
      {% for post_course in courses %}
      <li class="one_third infinite-item">
       <figure class="content_section"><a href={{post_course.get_absolute_url }}>
         <div class="loader" style="text-align: center;">
              <svg width="140" height="20" viewBox="0 0 120 30" xmlns="http://www.w3.org/2000/svg" fill="#1ce">
                <circle cx="15" cy="15" r="15">
                    <animate attributeName="r" from="15" to="15"
                            begin="0s" dur="0.8s"
                            values="15;9;15" calcMode="linear"
                            repeatCount="indefinite" />
                    <animate attributeName="fill-opacity" from="1" to="1"
                            begin="0s" dur="0.8s"
                            values="1;.5;1" calcMode="linear"
                            repeatCount="indefinite" />
                </circle>
                <circle cx="60" cy="15" r="9" fill-opacity="0.3">
                    <animate attributeName="r" from="9" to="9"
                            begin="0s" dur="0.8s"
                            values="9;15;9" calcMode="linear"
                            repeatCount="indefinite" />
                    <animate attributeName="fill-opacity" from="0.5" to="0.5"
                            begin="0s" dur="0.8s"
                            values=".5;1;.5" calcMode="linear"
                            repeatCount="indefinite" />
                </circle>
                <circle cx="105" cy="15" r="15">
                    <animate attributeName="r" from="15" to="15"
                            begin="0s" dur="0.8s"
                            values="15;9;15" calcMode="linear"
                            repeatCount="indefinite" />
                    <animate attributeName="fill-opacity" from="1" to="1"
                            begin="0s" dur="0.8s"
                            values="1;.5;1" calcMode="linear"
                            repeatCount="indefinite" />
                </circle>
            </svg>
          </div>
          <img data-src="{% if post_course.image.url == None %}{{ post_course.img_link }} {% else %}{{post_course.image.url }}{% endif %}" alt="" class="lazy">  
        </a>
          <figcaption> 
            <h6 class="heading image_title" ><a href="{% url 'coursedetail' post_course.slug %}">{{post_course.title}}</a></h6>
            <p>{{post_course.intro|safe|truncatewords:10}}</p>
          </figcaption>
        </figure>
      </li>
        {% empty %}
          <p>Pas encore de cours.</p>

      {% endfor %}
    </ul>
    {% if  page_obj %}
    <nav class="pagination">
      <ul>
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="infinite-more-link">Suivant</a></li>
        {% endif %}
      </ul>
    </nav>
   {% endif %}
  </section>
  <div class="clear"></div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'posting/layout/scripts/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'posting/layout/scripts/jquery.waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'posting/layout/scripts/infinite.min.js' %}"></script>
<script src="{% static 'posting/layout/scripts/index.js' %}"></script>

{% endblock javascript %}