{% extends "posting/__base__.html" %}{% load static %}{%block title%} Bienvenue sur python pour les nulles {% endblock title %}{% block content%}
<div class="wrapper bgded overlay" style="background-image:url(https://res.cloudinary.com/uxyuslshjd/image/upload/v1609763469/pythonic/Untitled_Design_1_gsdpte.jpg);">
<div id="pageintro" class="c hoc clear"> 
  <article>
    <p>bienvenue</p>
    <h3 class="heading">Cours pour devenir expert en python</h3>
    <footer>
      <ul class="nospace inline pushright">
        {% if user.is_authenticated %}
        <li><a class="btn" href="#course_list">Lire le cours</a></li>
        {% else %}
          <li><a class="btn" href="#course_list">Débuter le Cours</a></li>
          <li><a class="btn inverse" href="{% url 'register' %}">Créer un compte</a></li>
        {% endif %}
      </ul>
    </footer>
  </article>
</div>
</div>
<div class="wrapper row3">
<main class="hoc container clear"> 
  <!-- main body -->
  <section id="introblocks">
    <div class="sectiontitle">
      <h6 class="heading">Les Niveaux des Cours</h6>
      <p>Le language python est l'un des language de programmation les plus populaire et des plus simple à apprendre pour débuter la programmation informatique.</p>
    </div>
    <ul class="nospace btmspace-80 group">
      {% for level in levels %}
      <li class="one_third">
        <article><i class="fa fa-diamond"></i>
          <h6 class="heading font-x1"><a href="{% url 'niveaudetail' level.level|slugify %}">{{level.level}}</a></h6>
          <p>{{level.description|truncatewords:50}}&hellip;</p>
        </article>
      </li>
      {%endfor%}
    </ul>
    <p class="center"><a class="btn" href="https://docs.python.org/fr/3/" target="__blank">Allez sur la doc de python.</a></p>
  </section>
  <hr class="btmspace-80">
  <section id="course_list">
    <div class="sectiontitle">
      <h6 class="heading">Récents cours postés.</h6>
      <p>La Liste Des cours les plus récents.</p>
    </div>
    <ul class="nospace group overview infinite">
      {% for post_course in courses %}
      <li class="one_third infinite-item" style="position: relative;">
       <figure class="content_section"><a href={{post_course.get_absolute_url }}>
         <div class="loader">

          </div>
          <img data-src="{% if post_course.image.url == None %}{{ post_course.img_link }} {% else %}{{post_course.image.url }}{% endif %}" alt="" class="lazy">  
        </a>
          <figcaption > 
            
            <h6 class="heading image_title" ><a href="{% url 'coursedetail' post_course.slug %}">{{post_course.title}}</a></h6>
            <p class="content-level">Niveaux : {{post_course.level.level|upper}}</p>
            <p class="content-date">dernier mise à jour : {{post_course.date|date:"M Y"}}</p>

            <p>{{post_course.intro|safe|truncatewords:15}}</p>
          </figcaption>
        </figure>
      </li>
        {% empty %}
          <p>Pas encore de cours.</p>

      {% endfor %}
    </ul>
    {% if  page_obj %}
    <nav class="pagination">
      <ul>
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="infinite-more-link more">Suivant</a></li>
        {% endif %}
      </ul>
    </nav>
   {% endif %}
  </section>
  <div class="clear"></div>
</div>
<div style="display: none;" class="hide">
  <svg width="45" height="45" viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
    <g fill="none" fill-rule="evenodd" transform="translate(1 1)" stroke-width="2">
        <circle cx="22" cy="22" r="6" stroke-opacity="0">
            <animate attributeName="r"
                 begin="1.5s" dur="3s"
                 values="6;22"
                 calcMode="linear"
                 repeatCount="indefinite" />
            <animate attributeName="stroke-opacity"
                 begin="1.5s" dur="3s"
                 values="1;0" calcMode="linear"
                 repeatCount="indefinite" />
            <animate attributeName="stroke-width"
                 begin="1.5s" dur="3s"
                 values="2;0" calcMode="linear"
                 repeatCount="indefinite" />
        </circle>
        <circle cx="22" cy="22" r="6" stroke-opacity="0">
            <animate attributeName="r"
                 begin="3s" dur="3s"
                 values="6;22"
                 calcMode="linear"
                 repeatCount="indefinite" />
            <animate attributeName="stroke-opacity"
                 begin="3s" dur="3s"
                 values="1;0" calcMode="linear"
                 repeatCount="indefinite" />
            <animate attributeName="stroke-width"
                 begin="3s" dur="3s"
                 values="2;0" calcMode="linear"
                 repeatCount="indefinite" />
        </circle>
        <circle cx="22" cy="22" r="8">
            <animate attributeName="r"
                 begin="0s" dur="1.5s"
                 values="6;1;2;3;4;5;6"
                 calcMode="linear"
                 repeatCount="indefinite" />
        </circle>
    </g>
  </svg>
</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'posting/layout/scripts/jquery.waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'posting/layout/scripts/infinite.min.js' %}"></script>
<script src="{% static 'posting/layout/scripts/index.js' %}"></script>

{% endblock javascript %}