{%extends "posting/__base__.html" %}{% load static %}{% block title %}Cours Python Niveau : {{lTitle|upper}}{% endblock %}{% block meta %}Cours python Niveau: {{lTitle}}{% endblock %}{%block content%}
<div class="wrapper bgded overlay" style="background-image:url(https://res.cloudinary.com/uxyuslshjd/image/upload/v1609762411/pythonic/Untitled_Design_jxwlhv.jpg);">
    <div id="breadcrumb" class="hoc clear"> 
      <h1> Niveau : <strong>{{lTitle|upper}} </strong></h1>
    </div>
  </div>
<div class="wrapper row3">
    <main class="hoc container clear"> 
      <div class="content"> 
        <section>
            <div class="sectiontitle">
              <h6 class="heading">{{header|capfirst}}</h6>
              <p>{{description|capfirst}}</p>
            </div>
            <ul class="nospace group overview main-content infinite">
              {% for post_course in level %}
              <li class="one_third infinite-item" style="position: relative;">
                <figure class="content_section"><a href={{post_course.get_absolute_url }}>
                  <div class="loader"></div>
                   <img data-src="{% if post_course.image.url == None %}{{ post_course.img_link }} {% else %}{{post_course.image.url }}{% endif %}" alt="" class="lazy">  
                 </a>
                   <figcaption> 
                     <p class="content-level">Niveaux : {{lTitle|upper}}</p>
                     <p class="content-date">dernier mise à jour : {{post_course.date|date:"M Y"}}</p>
                     <h6 class="heading" ><a href="{% url 'coursedetail' post_course.slug %}">{{post_course.title}}</a></h6>
         
                     <p>{{post_course.intro|safe|truncatewords:15}}</p>
                   </figcaption>
                 </figure>
               </li>

              {% empty %}
                <p>Pas encore de cours.</p>
              {% endfor %}
            </ul>
          {% if  level %}
            <nav class="pagination">
              <ul>
                {% if level.has_previous %}
                        <li><a href="?page=1">&laquo; Première</a></li>
                       <li> <a href="?page={{ level.previous_page_number }}">Précédant</a></li>
                  {% endif %}
                <li class="current"> Page {{ level.number }} of {{ level.paginator.num_pages }}</li>
                {% if level.has_next %}
                <li><a href="?page={{ level.next_page_number }}" class="infinite-more-link" data-href="next-level/{{ lTitle|slugify }}-{{ level.next_page_number }}">Suivant</a></li>
                <li><a href="?page={{ level.paginator.num_pages }}">Dernier &raquo;</a></li>
            {% endif %}
              </ul>
            </nav>
           {% endif %}
          </section>
      </div>
      <div class="clear"></div>
    </main>
  </div>
  <div style="display: none;" class="hide">
    <svg width="45" height="45" viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
      <g fill="none" fill-rule="evenodd" transform="translate(1 1)" stroke-width="2">
          <circle cx="22" cy="22" r="6" stroke-opacity="0">
              <animate attributeName="r"
                   begin="1.5s" dur="3s"
                   values="6;22"
                   calcMode="linear"
                   repeatCount="indefinite" />
              <animate attributeName="stroke-opacity"
                   begin="1.5s" dur="3s"
                   values="1;0" calcMode="linear"
                   repeatCount="indefinite" />
              <animate attributeName="stroke-width"
                   begin="1.5s" dur="3s"
                   values="2;0" calcMode="linear"
                   repeatCount="indefinite" />
          </circle>
          <circle cx="22" cy="22" r="6" stroke-opacity="0">
              <animate attributeName="r"
                   begin="3s" dur="3s"
                   values="6;22"
                   calcMode="linear"
                   repeatCount="indefinite" />
              <animate attributeName="stroke-opacity"
                   begin="3s" dur="3s"
                   values="1;0" calcMode="linear"
                   repeatCount="indefinite" />
              <animate attributeName="stroke-width"
                   begin="3s" dur="3s"
                   values="2;0" calcMode="linear"
                   repeatCount="indefinite" />
          </circle>
          <circle cx="22" cy="22" r="8">
              <animate attributeName="r"
                   begin="0s" dur="1.5s"
                   values="6;1;2;3;4;5;6"
                   calcMode="linear"
                   repeatCount="indefinite" />
          </circle>
      </g>
    </svg>
  </div>
{%endblock content%}
{% block javascript %}

<script type="text/javascript" src="{% static 'posting/layout/scripts/jquery.waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'posting/layout/scripts/infinite.min.js' %}"></script>
<script src="{% static 'posting/layout/scripts/index.js' %}"></script>
{% endblock %}
