{%extends "posting/__base__.html" %}{% load static %}{% block title %}Cours Python Niveau : {{lTitle|upper}}{% endblock %}{% block meta %}Cours python Niveau: {{lTitle}}{% endblock %}{%block content%}
<div class="wrapper bgded overlay" style="background-image:url(https://res.cloudinary.com/uxyuslshjd/image/upload/v1609762411/pythonic/Untitled_Design_jxwlhv.jpg);">
    <div id="breadcrumb" class="hoc clear"> 
      <h1> Niveau : <strong>{{lTitle|upper}} </strong></h1>
    </div>
  </div>
<div class="wrapper row3">
    <main class="hoc container clear"> 
      <div class="content"> 
        <section>
            <div class="sectiontitle">
              <h6 class="heading">{{header|capfirst}}</h6>
              <p>{{description|capfirst}}</p>
            </div>
            <ul class="nospace group overview main-content">
              {% for post_course in level %}
              <li class="one_third">
                <figure><a href="{{post_course.get_absolute_url}}"><img src="{{post_course.img_link}}" alt=""></a>
                  <figcaption>
                    <h6 class="heading"><a href="{% url 'coursedetail' post_course.slug %}">{{post_course.title}}</a></h6>
                    <p>{{post_course.intro|safe|truncatewords:50}}</p>
                  </figcaption>
                </figure>
              </li>

              {% empty %}
                <p>Pas encore de cours.</p>
              {% endfor %}
            </ul>
          {% if  level %}
            <nav class="pagination">
              <ul>
                {% if level.has_previous %}
                        <li><a href="?page=1">&laquo; Première</a></li>
                       <li> <a href="?page={{ level.previous_page_number }}">Précédant</a></li>
                  {% endif %}
                <li class="current"> Page {{ level.number }} of {{ level.paginator.num_pages }}</li>
                {% if level.has_next %}
                <li><a href="?page={{ level.next_page_number }}" class="more" data-href="next-level/{{ lTitle|slugify }}-{{ level.next_page_number }}">Suivant</a></li>
                <li><a href="?page={{ level.paginator.num_pages }}">Dernier &raquo;</a></li>
            {% endif %}
              </ul>
            </nav>
           {% endif %}
          </section>
      </div>
      <div class="clear"></div>
    </main>
  </div>

  <script src="{% static 'posting/layout/scripts/main-level.js' %}"></script>
{%endblock content%}