{% extends 'up-posting/layout.html' %}
{% load static %}
{% block header %}
{% include "up-posting/_header-top.html" %}
{% include "up-posting/_header-second.html" %}
{% endblock header %}

{% block title %}Bienvenue sur pythonfornull | cours de programmation concentré sur le language python{% endblock title %}
{% block content %}
{% include "up-posting/_brand.html" %}
<main class="page__container main_page">
 
	<div class="transition">
		<p>	les derniers cours python sont disponible ici</p>
	</div>
	<div class="last">
		<h4>récent posts</h4>
		<div class="cards " id="last">
		{% for article in  leated_course_posted%}
			<article class="article-card visible">
				<div class="article-card-info">
					<span class="date">il y'a {{article.date|timesince}}</span>
					<span class="svg"><svg height="24px" width="24px"><use xlink:href="{% static 'assets/svg/sprite.svg' %}#bookmark"></svg></span>
				</div>
				<span class="status">cours</span>
				<h3> <a href="{% url 'coursedetail' article.slug %}">{{article.title}}</a></h3>
				<p>{{article.intro|safe|truncatewords:50}}</p>
				<a  href="{% url 'coursedetail' article.slug %}" class="article-card-btn">lire le content</a>
			</article>
		{% endfor %}
		</div>
		
	</div>
	{% if tutos %}
	<div class="transition">
		<p>	les tutoreils python</p>
	</div>

	<div class="cards" id="tuto" >
			{% for tuto in tutos %}
				<article class="article-card visible">
					<div class="article-card-info">
						<span class="date">iy y'a {{tuto.date|timesince}}</span>
						<span class="svg"><svg height="24px" width="24px"><use xlink:href="{% static 'assets/svg/sprite.svg' %}#bookmark"></svg></span>
					</div>
					<span class="status">tutoriels</span>
					<h3> <a href="{% url 'coursedetail' tuto.slug %}">{{tuto.title}}</a></h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem optio voluptate debitis sit ut! Odit distinctio consequuntur aperiam labore itaque.</p>
					<a href="{% url 'coursedetail' tuto.slug %}" class="article-card-btn">Lire la Suite</a>
				</article>
			{% endfor %}

	</div>
	{% endif %}
	{% if quizes %}
	<div class="transition">
		<p>QUIZES : Testez vos connaissances python avec des Quizes</p>
	</div>

	<div class="cards" id="quize" >
		{% for quize in quizes %}
			<article class="article-card visible">
				<div class="article-card-info">
					<span class="date">{{quize.date}}</span>
					<span class="svg"><svg height="24px" width="24px"><use xlink:href="{% static 'assets/svg/sprite.svg' %}#bookmark"></svg></span>
				</div>
				<span class="status">Quize</span>
				<h3> <a href="{% url 'singleQuiz' quize.slug %}">{{quize.title}}</a></h3>
				<p>{{quize.description}}</p>
				<a  class="article-card-btn" href="{% url 'singleQuiz' quize.slug %}">s'exercer</a>
				</article>

		{% empty %}
		<p>pas encore de quize valable pour le moment .</p>
		{% endfor %}

	</div>
	{% endif %}
</main>

<style>
	body{
		position: relative;
	}
	.contact{
		position: fixed;
		top: 50px;
		right: 30px;
		display: flex;
		flex-direction: column;
		width: 300px;
		background: rgba(6, 11, 17, 0.534);
		padding: 1em;
		text-transform: capitalize;
		opacity: 0;
		transition: all 0.5s;
		transform: translateX(500%);
	}

	.contact h3{
		font-size: 1em;
		text-align: center;
		color: white;
	}
	.contact input{
		border: 1px solid rgba(0, 0, 255, 0.281);
		width: 100%;
		margin: 10px 0;
		text-transform: capitalize;
		
	}
	input::placeholder{
		text-transform: capitalize;
	}
	.contact button[type="submit"]{
		padding: 0.7em 1em;
		width: 100%;
		border: none;
		background: #00D9FF;
		color: white;
		text-transform: capitalize;
	}

	.contact.show{
		transform: translateX(0);
		opacity: 1;
	}
	#close-contact-side{

		position: absolute;
		top: -20px;
		right: -10px;
		font-size: 1.5rem;
		outline: none;
		color: rgb(255, 255, 255);
		height: 40px;
		width: 40px;
		border-radius: 50%;
		background: rgba(7, 0, 0, 0.336);
		display: grid;
		place-items: center;
		border:none;
	}


</style>
<aside class="contact show">
	<button id="close-contact-side"><span>&times;</span></button>
	<form action="#">
		<h3>Formulaire de contact</h3>
		<input type="text" placeholder="votre nom : ">
		<input type="text" placeholder="votre address Email : "">
		<textarea name="" id="" cols="30" rows="10" placeholder="votre message"></textarea>
		<button type="submit">envoyer</button>
	</form>

</aside>

<script>
	document.querySelector('.contact-us').addEventListener("click", e=>{
		e.preventDefault()
		document.querySelector("aside.contact").classList.add("show")
	})

	document.querySelector('#close-contact-side').addEventListener("click", e=>{
		e.preventDefault()
		document.querySelector("aside.contact").classList.remove("show")
	})
</script>
{% endblock content %}

{% block footer %}
{% include "up-posting/_footer.html" %}
{% endblock footer %}