<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/uxyuslshjd/image/upload/v1609766468/pythonic/fav2_gjt3us.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}Adminstration :{% endblock %}</title>
</head>
<body>
    <div class="container">

        <div class="row  bg-secondary justify-content-center pt-4">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>