<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block meta %} section modification : Cours gratuit de python avec pythonnull{%endblock%}">
    <meta name="keywords" content="cours, python, pythonnull, null, debutant">
    <meta name="author" content="Fare christian">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/uxyuslshjd/image/upload/v1609766468/pythonic/fav2_gjt3us.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}Adminstration :{% endblock %}</title>
</head>
<body>

{% block content %}{% endblock %}
<script>
document.querySelector("#back").addEventListener('click', (e)=>{
e.preventDefault();
history.back();
})
</script>
</body>
</html>