{% extends "adminUsers/__base__.html" %}
{% block title %}
   Adminitration : Créer un Tutoriel -PythonForNulls
{% endblock title %}

{% block content %}

<div class="container"> <div class=" text-center mt-5 ">
    <h1>Enregister un cours:M. {{request.user}}</h1>
</div>

<div class="container">
<form id="contact-form" role="form" method="POST" enctype = "multipart/form-data" class="form"> {% csrf_token %}

<label for="{{ form.title.id_for_label }}">{{ form.title.label }} *</label> 
{{form.title}}
<label for="{{ form.img_link.id_for_label }}">{{ form.img_link.label }} *</label> 
{{form.img_link}}

<label for="{{ form.status.id_for_label }}">{{ form.status.label }} *</label> 
{{form.status}}

<label for="{{ form.level.id_for_label }}">{{ form.level.label }} *</label> 
{{form.level}}

{{form.notify_users}}
<label for="form-email" class="form-check-label">{{ form.notify_users.label }} *</label> 
<label for="{{ form.intro.id_for_label }}">{{form.intro.label }}* :</label><br> {{form.intro}}

<label for="{{ form.intro.id_for_label }}">{{form.body.label }}* :</label> <br>{{form.body}}
<div class="form-footer">
    <div class="btn-group">
        <button class="btn btn-danger" id="cancel-make">Quitter</button>
        <button type="submit" class="btn" >Poster le Cours</button>
        </div>   
        
</div>

{{form.media}}
</form>

</div>
<script>
    const cancel = document.getElementById("cancel-make")
    cancel.addEventListener("click", e =>{
        e.preventDefault()
        let question = confirm("voulez vous vraiment quitter cette page ?");
        if(question){
            history.back();
        }
    })

</script>

{% endblock content %}