{% extends "adminUsers/__base__.html" %}
{% load static %}
{%block title%} Votre profile | pythonfornull{% endblock title %}

{% block content%}

<div class="container">
    <section class="section-profile">
        <div class="card1">
            <img class="profile-pic"src="https://res.cloudinary.com/uxyuslshjd/image/upload/v1615323058/pythonic/User-Profile-PNG-High-Quality-Image_ijqm3j.png" alt="profile">
            <h3>{{user}}</h3>
            <p class="pre-text">votre profile</p>
            <p><span class="pre"> Email </span>: {{user.email}}</p>
            <p> <span class="pre"> Status </span> : {%if user.is_staff  %} prof {% else %} apprenant {% endif %}</p>
            <div class="card1-footer">
                 <p class="comments"><span class="number">{{NumberOfCommentsMade}}</span> commentaires</p>
                 {%if user.is_staff  %} <p class="cours"><span class="number red">{{NumberOfCourseMade}}</span>cours</p>{% endif %}
            </div>
        </div>
        {%if user.is_staff  %}
        <div class="card2">
            <div class="card-header">
                <h2>Vos cours en corbeille</h2>
            </div>
            <ol>
                {% for draf in drafCourses %}
                <li>
                    <p><a href="{% url 'coursedetail' draf.slug %}">{{draf.title}}</a></p>
                </li>
                {% endfor%}
               
            </ol>

        </div>
        {% endif %}
    </section>
    <section class="section-form">
        <h2>Modifier vos informations</h2>
        <div class="form">
            <form action="" method="POST"> {% csrf_token %}
                {{form}}
                <button class="form-btn">Enregister</button>
                <button class="btn btn-danger"> <a href="{% url 'change-pass' %}">changé de mot de passe</a></button>
            </form>
            </div>
    </section>
   

</div>
{% endblock content%}