{% extends "auth/__base.html "%}
{% load static %}
{%block content%}
    <form action="" class="form" method="POST">{%csrf_token %}
        <img src="{% static 'svg/profile.png' %}" alt="profile picture" srcset="" class="profile">
        <h2>Indentification</h2>
                {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p class="message__success">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% if form.non_field_errors %}
            <div class='message'>
                <p class="message__warning" >Mot de passe ou identifiant incorrect</p>
                </div>
            {% endif %}
            {{form.username}}
        <div class="password">
        {{form.password}}
        <img src="{% static 'svg/eye-slash.svg' %}" alt="" srcset="" class="password-toggle">
        </div>
        <button type="submit">Login</button>
        <p>vous n'avez pas encore de compte ? <a href="{% url 'register' %}">créer</a></p>
        <hr>
        <p>mot de passe <a href="{% url 'password_reset' %}">oublié </a> ?</p>
    </form>

{% endblock %}