{% extends "auth/__base.html "%}
{% load static  %}
{% block title %}Créer un compte  {% endblock title %}
{%block content%}
   <style>
      .errorlist {
        display: none;
      }
      li {
        background-color: #f82d2da2;
        color: white;
        list-style: none;
        text-transform: capitalize;
        padding: 10px;
        margin-top: 10px;
        text-align: center;
        transition: 10s ease-in;
        position: relative;
        cursor: pointer;
        font-size:12px;
      }

      .display__errors{
        position: relative;
      }
    </style>
 <form action="." class="form" method="POST">{% csrf_token %}
            <h2>NOUS REJOINDRE</h2>
             <div class="display__errors"></div>
            {{form.errors}}

            {{form.first_name}} 
            {{form.username}}
            {{form.email}}

            <div class="password">
            {{form.password1}}
            <img src="{% static 'svg/eye-slash.svg' %}" alt="" srcset="" class="password-toggle">
            </div>
            <div class="password">
                {{form.password2}}     
                <img src="{% static 'svg/eye-slash.svg' %}" alt="" srcset="" class="password-toggle">
                </div>
            <button type="button" class="btn__cancel" id="back">annulé </button>
            <button type="submit">register</button>
            <span class="line"></span>
            <p>avez vous déjà un compte ? <a href="{% url 'login' %}">connectez vous </a></p>
        </form>


 <script>
      let errors = document.querySelector(".errorlist").querySelectorAll(".errorlist");
      errors.forEach((e) => {
        document.querySelector(".display__errors").innerHTML += e.innerHTML;
      });

      let va = document
        .querySelector(".display__errors")
        .querySelectorAll("li");
          for (let i = 0; i < va.length; i++) {
            let = element = va[i];
            element.addEventListener("click", (e) => {
              e.target.remove();
            });
      }
    </script>
{% endblock %}

