{% load static%}<!DOCTYPE html>
<html lang="fr">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>{% block title%} {{title}}{% endblock %}</title>
<meta charset="utf-8">
<meta name="description" content="{% block meta %} Bienvenue sur pythonnull, un site web de cours python gratuit{%endblock%}">
<meta name="keywords" content="cours, python, pythonnull, null, debutant">
<meta name="author" content="Fare christian">
{% block share_meta %}
{% endblock share_meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="icon" type="image/png" href="https://res.cloudinary.com/uxyuslshjd/image/upload/v1609766468/pythonic/fav2_gjt3us.png"/>
<link href="{% static 'posting/layout/styles/layout.css'%}" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'posting/layout/styles/profile.css' %}">
{% block css%}{% endblock css%}
</head>
<body id="top">
{% include "posting/__header__.html"%}

{% block content%} {% endblock content%}

<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="{% static 'posting/layout/scripts/jquery.backtotop.js'%}"></script>
<script src="{% static 'posting/layout/scripts/jquery.mobilemenu.js'%}"></script>
{% block javascript %}{% endblock javascript %}
</body>
</html>