{% load static %} <!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %} {% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/uxyuslshjd/image/upload/v1609766468/pythonic/fav2_gjt3us.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'users/css/user.css' %}">
</head>
<body style="background-color: #666666;">
	
	<div class="container">
		<div class="row justify-content-center">
			{% block content %}{% endblock content %}
		</div>
	</div>
	{% block javascript%}{%endblock%}
	<!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>

</body>
</html>