{% extends "users/__base__.html" %}
{% load static %}
{% block title %} Se connecter {% endblock title %}


{%block content %} 
{% if request.user.is_authenticated %}
<script>
  location.href = "{% url 'homepage' %}"
</script>
{% endif %}
<form action method="POST">{% csrf_token %}
<div class="card">
  <div class="text-center intro">
     <img src="https://i.imgur.com/uNiv4bD.png" width="160">
     </div>
  <div class="mt-4 text-center">
      <h4>Identification</h4>
      {% if messages %}
      <div class="messages text-center">
          {% for message in messages %}
          <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
          {% endfor %}
      </div>
      {% endif %}


      {% if form.non_field_errors %}
    <div class='form-errors text-center'>
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
               <strong>{{ error }}</strong> 
            </div>
        {% endfor %}
          </div>
    {% endif %}

      <div class="inputbox"> {{form.username}} <i class="fa fa-user"></i> </div>
      <div class="inputbox"> {{form.password}} <i class="fa fa-lock"></i> </div>
  </div>

  <div class="d-flex justify-content-between">
      <div>
        <a href="{% url 'password_reset' %}" class="forgot">Mot de passe oublié ?</a>
      </div>
      <div> <a href="{% url 'register' %}" class="forgot">créer un compte</a> </div>
  </div>
  <div class="mt-2"> <button class="btn btn-primary btn-block" type="submit">
    s'identifier</button> </div>
    <div class="mt-2"> <a class="btn btn-danger btn-block" href="{% url 'homepage' %}" id="back">
    retour </a> </div>
</div>

</form>


{%endblock %}