{% extends "users/__base__.html" %}
{% load static %}
{% block title %} Se connecter {% endblock title %}


{%block content %} 
{% if request.user.is_authenticated %}
<script>
  location.href = "{% url 'homepage' %}"
</script>
{% endif %}
<form class="login100-form validate-form" method="POST">{% csrf_token %}
  <span class="login100-form-title p-b-43">
    Login to continue
  </span>

  <span class="login100 p-b-43 txt1">
    {% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li class="alert alert-danger">{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
  
  </span>
  
  
  <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
   {{form.username}}
    <span class="focus-input100"></span>
    <span class="label-input100">Nom utilisateur</span>
    
  </div>
  
  
  <div class="wrap-input100 validate-input" data-validate="Password is required">
    {{form.password}}
    <span class="focus-input100"></span>
    <span class="label-input100">Mot de passe</span>
    <span class="label-input100"></span>
  </div>

  <div class="flex-sb-m w-full p-t-3 p-b-32">
    <div class="contact100-form-checkbox">
      <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
      <label class="label-checkbox100" for="ckb1">
        Se rappeler de moi
      </label>
    </div>
  </div>


  <div class="container-login100-form-btn">
    <button class="login100-form-btn">
      Login
    </button>
  </div>
  
  <div class="text-center p-t-46 p-b-20">
    <span class="txt2">
      Pas encore de compte ? <a href="{% url 'register' %}">creer le compte</a>
    </span>
  </div>

</form>


{%endblock %}