{% extends 'up-posting/layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/auth.css' %}">
{% endblock css %}
{% block header %}
{% include "up-posting/_header-second.html" %}
{% endblock header %}
{% block content %}
<style>
    #id_new_password2, #id_new_password1, #id_old_password{
        width: 100%;
        margin-top: 10px;
        border: 1px solid rgba(0, 0, 255, 0.438);
    }
    .helptext, label{
        display: block;
        font-size: 12px;
    }
    .helptext{
        margin-bottom: 10px;
    }
    
</style>
<main class="forms_container">
    <div class="form_domain">
        <h3>Changer de mot de passe ?</h3>
        <div class="form">
            <form action="#" method="post">{% csrf_token %}
                {{form}}
                <button type="submit" class="form_btn">Envoyer</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}