{% extends 'up-posting/layout.html' %}
{% load static %}
{% block title %}Mot de passe oublie ? | pythonfornull{% endblock title %}
{% block header %}
{% include "up-posting/_header-second.html" %}
{% endblock header %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/auth.css' %}">
{% endblock css %}
{% block content %}
<main class="forms_container">
<style> 
label{
    display:none;
}
</style>
    <div class="form_domain">
        <h3>récuperer votre mot de passe</h3>
        <div class="form">
            <form action="#" method="post">{% csrf_token %}
            <p>Entrer votre boite mail, et suivez les instructions pour formatter le mot de passe</p>
                    {{form}}
                    <button type="submit" class="form_btn">Envoyer</button>
                </form>
        </div>
        </div>
    </div>
</main>
{% endblock content %}