{% extends 'up-posting/layout.html' %}
{% load static %}
{% block title %}Connexion | pythonfornull{% endblock title %}
{% block header %}
{% include "up-posting/_header-second.html" %}
{% endblock header %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/auth.css' %}">
{% endblock css %}
{% block content %}
<main class="forms_container">
<style> 
label{
    display:none;
}
</style>
    <div class="form_domain">
        <h3>Connectez-vous ici</h3>
        <div class="form">
        <form action="#" method="post">{% csrf_token %}
            <h3>votre mot de passe à été modifier avec succes</h2>
                <a href="{% url 'login' %}">Connecter vous</a> <br>
                <a href="{% url 'homepage' %}">aller à la page d'acceuil</a>
            </form>
        </div>
        </div>
    </div>
</main>
{% endblock content %}
