{% extends 'up-posting/layout.html' %}
{% load static %}
{% block title %}Nouveau mot de passe | pythonfornull{% endblock title %}
{% block header %}
{% include "up-posting/_header-second.html" %}
{% endblock header %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/auth.css' %}">
{% endblock css %}
{% block content %}
<main class="forms_container">
<style> 
label{
    display:none;
}
</style>
    <div class="form_domain">
        <h3>Nouveau mot de passe</h3>
        <div class="form">
        <form action="#" method="post">{% csrf_token %}
                    {{form}}
                    <button type="submit" class="form_btn">valider</button>
                </form>
        </div>
        </div>
    </div>
</main>
{% endblock content %}